<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TRANG CHỦ</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/style.css') }}"/>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"/>
</head>
<body>
    <h1>BÁN HÀNG TRỰC TUYẾN</h1>
    <ul>
        <li><a href="{{ url_for('product_list') }}">Tất cả</a></li>
        <li><a href="{{ url_for('product_by_cate_id', category_id=1) }}">Điện thoại di động</a></li>
        <li><a href="{{ url_for('product_by_cate_id', category_id=2) }}">Máy tính bảng</a></li>
    </ul>
</body>
</html>