<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Them san pham</title>
        <link rel="stylesheet" href="{{ url_for('static', filename = 'css/style.css') }}"/>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" />
    </head>
    <body>
        <h1 class="text-center text-success">
            {% if request.args.get('product_id') %}CẬP NHẬT{% else %}THÊM{% endif %} SẢN PHẨM
        </h1>
        <div class="container">
            {% if err %}
            <div class="alert alert-danger">
                {{ err }}
            </div>
            {% endif %}
            <form method="post">
                <div class="form-group">
                    <label>Ten san pham</label>
                    <input type="text" name="name" class="form-control" value="{{ product.name }}" />
                </div>
                <div class="form-group">
                    <label>Gia san pham</label>
                    <input type="number" value="{{ product.price }}" name="price" class="form-control" />
                </div>
                <div class="form-group">
                    <label>Anh san pham</label>
                    <input type="text" value="{{ product.images }}" name="images" class="form-control" />
                </div>
                <div class="form-group">
                    <label>Mo ta san pham</label>
                    <textarea class="form-control" name="description">{{ product.description }}</textarea>
                </div>
                <div class="form-group">
                    <label>Danh muc</label>
                    <select class="form-control" name="category_id">
                        {% for cat in categories %}
                        <option value="{{ cat.id }}" {% if cat.id==product.category_id %}selected{% endif %}>{{ cat.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <input type="submit" value="{% if request.args.get('product_id') %}CẬP NHẬT{%else%}THÊM{% endif %} SẢN PHẨM" class="btn btn-danger" />
                </div>
            </form>
        </div>
    </body>
</html>